Repository stillrivercode/smart-workplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-lint, eslint, prettier, npm-lock-check

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: mixed-line-ending

  # Markdown formatting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # YAML formatting (npm-based)
  - repo: local
    hooks:
      - id: yaml-lint
        name: YAML Lint
        entry: npx yaml-lint
        language: node
        files: \.(yml|yaml)$
        additional_dependencies: [yaml-lint@^1.7.0]

  # JavaScript/TypeScript linting and formatting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|ts|jsx|tsx)$
        exclude: \.eslintrc.*\.js$|.*\.config\.js$
        additional_dependencies: [eslint@^8.0.0, eslint-plugin-security@^1.7.1]

      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: node
        files: \.(js|ts|jsx|tsx|json|md|yml|yaml)$
        additional_dependencies: [prettier@^3.0.0]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

  # Security linting (npm-based, manual execution for performance)
  # Run manually with: pre-commit run --hook-stage manual eslint-security
  - repo: local
    hooks:
      - id: eslint-security
        name: ESLint Security
        entry: npx eslint --config .eslintrc.security.js
        language: node
        files: \.(js|ts|jsx|tsx)$
        exclude: \.eslintrc.*\.js$|.*\.config\.js$
        stages: [manual]
        additional_dependencies: [eslint@^8.0.0, eslint-plugin-security@^1.7.1]

  # NPM package-lock.json validation
  # Ensures package-lock.json is up to date when package.json changes
  - repo: local
    hooks:
      - id: npm-lock-check
        name: NPM Lock File Check
        entry: |
          bash -c 'echo "Checking package-lock.json consistency..."; npm install --package-lock-only; if ! git diff --quiet --exit-code package-lock.json; then echo "Error: package-lock.json is out of sync with package.json."; echo "Please run npm install, then git add package-lock.json, and re-commit."; exit 1; fi'
        language: system
        files: package\.json$
        pass_filenames: false

Add comprehensive workshop documentation structure
  README.md
  workshop/01-setup-and-weather-widget.md
  workshop/02-meeting-time-finder.md
  workshop/03-office-pulse-dashboard.md
  workshop/04-wrap-up-and-resources.md
  workshop/facilitation-guide.md
  workshop/mock-data-setup.md
Due: prettier

Add bin/ directory to .gitignore
  .gitignore
Due: none

Add package-lock.json for dependency consistency
  package-lock.json
Due: prettier

Update to ESLint v9 with modern configuration
  .eslintignore
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
Due: prettier, npm-lock-check

Fix ESLint errors and clean up code
  cli/create-project.js
  cli/validators.js
  eslint.config.js
  shared-commands/index.js
  shared-commands/postinstall.js
Due: eslint, prettier

Add comprehensive workshop documentation structure (#1)
  .eslintignore
  .eslintrc.js
  .gitignore
  README.md
  cli/create-project.js
  cli/validators.js
  eslint.config.js
  package-lock.json
  package.json
  shared-commands/index.js
  shared-commands/postinstall.js
  workshop/01-setup-and-weather-widget.md
  workshop/02-meeting-time-finder.md
  workshop/03-office-pulse-dashboard.md
  workshop/04-wrap-up-and-resources.md
  workshop/facilitation-guide.md
  workshop/mock-data-setup.md
Due: eslint, prettier, npm-lock-check

Implement Office Weather Monitor Widget for Workshop Task 1
  .env.example
  package-lock.json
  package.json
  specs/issue-5-office-weather-monitor-widget.md
  src/App.jsx
  src/README.md
  src/components/WeatherMonitor.jsx
  src/data/offices.js
  src/services/apiNinjas.js
  src/styles/weather-monitor.css
Due: eslint, prettier, npm-lock-check

Implement Smart Workplace React application
  app/.gitignore
  app/.prettierrc
  app/README.md
  app/eslint.config.js
  app/index.html
  app/package-lock.json
  app/package.json
  app/public/vite.svg
  app/src/App.css
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/Greeting.test.tsx
  app/src/Greeting.tsx
  app/src/assets/react.svg
  app/src/index.css
  app/src/main.tsx
  app/src/test/setup.ts
  app/src/types.d.ts
  app/src/vite-env.d.ts
  app/tsconfig.app.json
  app/tsconfig.json
  app/tsconfig.node.json
  app/tsconfig.test.json
  app/vite.config.ts
  specs/issue-6-hello-world-react-app-implementation.md
Due: eslint, prettier, npm-lock-check

Fix test command to use Vitest in app directory
  .pre-commit-config.yaml
  app/.prettierrc
  app/README.md
  app/src/App.test.tsx
  app/src/Greeting.test.tsx
  app/src/Greeting.tsx
  app/src/index.css
  app/src/main.tsx
  app/src/test/setup.ts
  app/src/types.d.ts
  app/tsconfig.app.json
  app/tsconfig.test.json
  package.json
  specs/issue-6-smart-workplace-react-app-implementation.md
Due: yaml-lint, eslint, prettier, npm-lock-check

Update README.md to use install.sh for proper setup
  README.md
Due: prettier

Fix GitHub Actions test suite by installing app dependencies
  .github/workflows/quality-checks.yml
Due: yaml-lint, prettier

Address PR #7 review feedback
  app/eslint.config.js
  app/index.html
  app/src/App.tsx
  app/src/components/ErrorBoundary.test.tsx
  app/src/components/ErrorBoundary.tsx
  app/src/index.css
Due: eslint, prettier

Implement Smart Workplace React Application (#7)
  .github/workflows/quality-checks.yml
  .pre-commit-config.yaml
  README.md
  app/.gitignore
  app/.prettierrc
  app/README.md
  app/eslint.config.js
  app/index.html
  app/package-lock.json
  app/package.json
  app/public/vite.svg
  app/src/App.css
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/Greeting.test.tsx
  app/src/Greeting.tsx
  app/src/assets/react.svg
  app/src/components/ErrorBoundary.test.tsx
  app/src/components/ErrorBoundary.tsx
  app/src/index.css
  app/src/main.tsx
  app/src/test/setup.ts
  app/src/types.d.ts
  app/src/vite-env.d.ts
  app/tsconfig.app.json
  app/tsconfig.json
  app/tsconfig.node.json
  app/tsconfig.test.json
  app/vite.config.ts
  package.json
  specs/issue-6-smart-workplace-react-app-implementation.md
Due: yaml-lint, eslint, prettier, npm-lock-check

Add Meeting Time Finder technical specification
  specs/issue-8-meeting-time-finder-technical-specification.md
Due: prettier

Fix environment variable reference for React app
  README.md
  app/.env.example
Due: prettier

Address PR feedback: improve environment setup documentation
  .env.example
  README.md
  app/.env.example
Due: prettier

Fix environment variable reference for React app (#10)
  .env.example
  README.md
  app/.env.example
Due: prettier

🔒 SECURITY: Fix API key exposure vulnerability
  README.md
  SECURITY.md
  api/.env.example
  api/.gitignore
  api/package.json
  api/server.js
  app/.env.example
  app/src/services/apiNinjas.js
  workshop/01-setup-and-weather-widget.md
Due: eslint, prettier, npm-lock-check

feat: cherry-pick security docs, output sanitizer, and roadmap command from upstream template
  docs/security.md
  docs/security/README.md
  docs/security/security-best-practices.md
  scripts/lib/output-sanitizer.sh
  shared-commands/commands/roadmap.sh
  shared-commands/lib/templates/roadmap-template.md
Due: prettier

feat: cherry-pick template updates for improved development workflow
  .ai/commands/README.md
  .ai/commands/cost-monitoring.md
  .ai/commands/create-ai-task.md
  .ai/commands/create-issue.md
  .ai/commands/development-workflow.md
  .ai/commands/label-management.md
  .ai/commands/run-tests.md
  .ai/commands/security-checks.md
  .ai/commands/setup-project.md
  .ai/commands/troubleshooting.md
  .ai/commands/update-template.md
  .ai/commands/workflow-management.md
  .bandit
  .markdownlint.yml
  .yamllint.yml
  eslint.config.js
Due: yaml-lint, prettier

feat: manually integrate key template updates
  CLAUDE.md
  docs/security.md
  shared-commands/commands/roadmap.sh
  shared-commands/lib/templates/roadmap-template.md
Due: prettier

remove: release-generator.yml workflow not applicable to this repository
  .github/workflows/release-generator.yml
Due: yaml-lint, prettier

Fix security scan issues by removing unnecessary CLI directory
  cli/configuration-manager.js
  cli/create-project.js
  cli/file-distribution-config.json
  cli/file-distribution.js
  cli/index.js
  cli/project-validation.js
  cli/update-package-files.js
  cli/validators.js
  eslint-security-results.json
  eslint-security-results.txt
  eslint.config.js
  package.json
  shared-commands/index.js
Due: eslint, prettier, npm-lock-check

Address AI review feedback: Add validation tests and config verification
  package.json
  tests/eslint-config.test.js
  tests/shared-commands-security.test.js
Due: eslint, prettier, npm-lock-check

docs: migrate from API Ninjas to Stillriver API proxy
  README.md
  workshop/01-setup-and-weather-widget.md
  workshop/mock-data-setup.md
Due: prettier

fix: correct setup instructions to use install.sh script
  README.md
Due: prettier

feat: add start scripts for convenient app startup
  app/package.json
  package.json
Due: prettier, npm-lock-check

feat: Sync upstream template improvements (#12)
  .ai/commands/README.md
  .ai/commands/cost-monitoring.md
  .ai/commands/create-ai-task.md
  .ai/commands/create-issue.md
  .ai/commands/development-workflow.md
  .ai/commands/label-management.md
  .ai/commands/run-tests.md
  .ai/commands/security-checks.md
  .ai/commands/setup-project.md
  .ai/commands/troubleshooting.md
  .ai/commands/update-template.md
  .ai/commands/workflow-management.md
  .bandit
  .github/workflows/release-generator.yml
  .markdownlint.yml
  .yamllint.yml
  CLAUDE.md
  README.md
  app/package.json
  cli/configuration-manager.js
  cli/create-project.js
  cli/file-distribution-config.json
  cli/file-distribution.js
  cli/index.js
  cli/project-validation.js
  cli/update-package-files.js
  cli/validators.js
  docs/security.md
  eslint-security-results.json
  eslint-security-results.txt
  eslint.config.js
  package.json
  shared-commands/commands/roadmap.sh
  shared-commands/index.js
  shared-commands/lib/templates/roadmap-template.md
  tests/eslint-config.test.js
  tests/shared-commands-security.test.js
  workshop/01-setup-and-weather-widget.md
  workshop/mock-data-setup.md
Due: yaml-lint, eslint, prettier, npm-lock-check

Align shared-commands with template structure
  shared-commands/.gitignore
  shared-commands/commands/add-spec-comment.sh
  shared-commands/commands/add-user-story-comment.sh
  shared-commands/commands/create-epic.sh
  shared-commands/commands/create-user-story-issue.sh
  shared-commands/lib/templates/spec-template.md
  shared-commands/package.json
Due: prettier, npm-lock-check

Address PR feedback - fix missing files and package.json
  shared-commands/index.js
  shared-commands/package.json
  shared-commands/setup.sh
Due: eslint, prettier, npm-lock-check

Align shared-commands with template structure (#13)
  shared-commands/.gitignore
  shared-commands/commands/add-spec-comment.sh
  shared-commands/commands/add-user-story-comment.sh
  shared-commands/commands/create-epic.sh
  shared-commands/commands/create-user-story-issue.sh
  shared-commands/index.js
  shared-commands/lib/templates/spec-template.md
  shared-commands/package.json
  shared-commands/setup.sh
Due: eslint, prettier, npm-lock-check

fix: sync shared-commands package.json version with published npm version (#253)
  package-lock.json
  shared-commands/package-lock.json
  shared-commands/package.json
Due: prettier, npm-lock-check

style: improve complexity assessment emoji in analyze-issue (#251)
  shared-commands/commands/analyze-issue.sh
Due: none

fix: handle 'none' bump type in shared-commands publish workflow (#250)
  .github/workflows/publish-shared-commands.yml
Due: yaml-lint, prettier

docs: improve analyze-issue command description (#249)
  shared-commands/commands/analyze-issue.sh
Due: none

fix: add AI assistant config files to gitignore
  .gitignore
Due: none

Sync latest template improvements (#14)
  .github/workflows/publish-shared-commands.yml
  .gitignore
  package-lock.json
  shared-commands/commands/analyze-issue.sh
  shared-commands/package-lock.json
  shared-commands/package.json
Due: yaml-lint, prettier, npm-lock-check

fix: remove install.sh reference from package.json files array
  package.json
Due: prettier, npm-lock-check

feat: update package.json to reflect smart-workplace repository
  package.json
Due: prettier, npm-lock-check
